<div class="container mt-5">
    <div class="row align-items-md-stretch gx-5">

        <div class="col-xl-2 col-lg-3 col-md-6" th:each="candidacy : ${candidacies}">
            <div class="card bg-secondary text-white">
                <img src="https://as1.ftcdn.net/v2/jpg/05/16/27/58/1000_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg" class="card-img-top" alt="#">
                <div class="card-body">
                    <h5 class="card-title" th:text="${candidacy.candidate.name}+' '+${candidacy.candidate.surname}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="min-height: 6em" th:text="'Опис ' + ${candidacy.description}"></li>
                    <li class="list-group-item" th:text="'Партија ' + ${candidacy.party.name}"></li>
                    <li class="list-group-item text-center">
                        <button th:onclick="|window.location.href='/vote/candidate/${candidacy.id}';|" class="btn btn-primary rounded-pill px-5" th:text="${candidacy.candidate.id}"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>