<section>
    <div class="container mt-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-4">
                <div class="h-100 p-5 bg-body-tertiary bg-opacity-50 border border-3 rounded-3">
                    <h2 class="h-25">Избирачки список</h2>
                    <p class="h-50">Извршете увид во своите податоци, преку внесување на име и презиме, адреса или матичен број. Можете да добиете информација за вашето гласачко место</p>
                    <button class="btn btn-primary" type="button">Example button</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-5 bg-body-tertiary bg-opacity-25 border border-2 rounded-3">
                    <h2 class="h-25">Гласање</h2>
                    <p class="h-50">Во овој модул можете да го остварите Вашето право на глас електронски со претходна верификација на документот за идентификација и матичниот број</p>
                    <button onclick="window.location.href='/vote'" class="btn btn-primary" type="button">Example button</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-5 bg-body-tertiary bg-opacity-10 border rounded-3">
                    <h2 class="h-25">Активни избори</h2>
                    <p class="h-50">Изберете некоја од понудените инстанци и гледајте ги достапните статистики во реално време</p>
                    <button class="btn btn-primary " type="button">Example button</button>
                </div>
            </div>
        </div>
    </div>
</section>