<!--Addition of PollingStation-->
<div class="container-fluid">
    <div class="container">
        <form method="POST" th:object="${pollingStation}" action="/admin/stations">
            <div class="row d-flex flex-row mb-3">
                <div>
                    <input type="hidden" th:value="${pollingStation?.id}">
                </div>
                <div class="col">
                    <label class="form-label">Име на гласачкото место</label>
                    <input type="text" class="form-control" id="pollingStation"
                           th:field="*{name}" name="name">
                </div>
                <label class="form-label">Адреса</label>
                <div class="row mb-3">
                <div class="col col-md-6">
                    <label class="form-label">Улица</label>
                    <input list="streets" class="form-select" id="street" th:value="*{address?.street}" name="street">
                    <datalist id="streets">
                        <option th:each="street : ${streets}" th:value="${street}"></option>
                    </datalist>
                </div>
                <div class="col col-md-2">
                    <label class="form-label">Број</label>
                    <input type="number" min="1" class="form-control" id="houseNumber"
                           th:value="${pollingStation?.address?.houseNumber}" name="houseNumber">
                </div>
                <div class="col col-md-2">
                    <label class="form-label">Влез</label>
                    <input type="text" min="1" class="form-control" id="entranceNumber"
                           th:value="${pollingStation?.address?.entranceNumber}" name="entranceNumber">
                </div>
                <div class="col col-md-2">
                    <label class="form-label">Стан</label>
                    <input type="text" min="1" class="form-control" id="apartmentNumber"
                           th:value="${pollingStation?.address?.apartmentNumber}" name="apartmentNumber">
                </div>
                </div>
                <div class="col">
                    <label class="form-label">Избoона единици</label>
                    <select class="form-select" id="electoralUnit" th:field="*{electoralUnit}" name="electoralUnit">
                        <option th:each="unit : ${electoralUnits}" th:text="${unit?.name}"
                                th:value="${unit?.id}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Општина</label>
                <select class="form-select" id="municipality" th:value="*{address?.municipality}" name="municipality">
                    <option th:each="municipality : ${municipalities}" th:value="${municipality.id}"
                            th:text="${municipality.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Запиши</button>
        </form>
    </div>

    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead class="table-header">
            <tr>
                <th>#</th>
                <th>Име</th>
                <th>Улица</th>
                <th>Број</th>
                <th>Влез</th>
                <th>Стан</th>
                <th>Општина</th>
                <th>Изборни единици</th>
            </tr>
            </thead>
            <tr th:each="station, iter : ${stations}"
                th:onclick="|window.location.href='/admin/stations/${station.id}/edit';|">
                <td th:text="${iter.count}"></td>
                <td th:text="${station.name}"></td>
                <td th:text="${station?.address?.street}"></td>
                <td th:text="${station?.address?.houseNumber}"></td>
                <td th:text="${station?.address?.entranceNumber}"></td>
                <td th:text="${station?.address?.apartmentNumber}"></td>
                <td th:text="${station?.address?.municipality?.name}"></td>
                <td th:text="${station?.electoralUnit?.name}"></td>
            </tr>
        </table>
    </div>
</div>